/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* base styles */
/* red */
/* dark blue */
/* base typography styles */
/* line 3, ../../sass/partials/_typography.scss */
h1 {
  font-size: 48px;
  font-weight: normal;
}

/* line 8, ../../sass/partials/_typography.scss */
h2 {
  font-size: 38px;
  font-weight: normal;
}

/* line 13, ../../sass/partials/_typography.scss */
h3 {
  font-size: 32px;
  font-weight: normal;
}

/* line 18, ../../sass/partials/_typography.scss */
p {
  font-size: 16px;
  line-height: 28px;
}

/* navigation styles */
/* header css */
/* footer styles */
/* page styles */
/* line 3, ../../sass/partials/_page.scss */
body {
  font-family: Helvetica;
}

/* line 11, ../../sass/partials/_page.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 16, ../../sass/partials/_page.scss */
.bluebg {
  background: #f5f5f5;
  padding: 40px auto;
}

/* line 21, ../../sass/partials/_page.scss */
.card {
  max-width: 30%;
  padding: 20px;
  background: #ffffff;
  margin: 20px 1.5%;
  border-radius: 5px;
  float: left;
  position: relative;
  -webkit-box-shadow: 0px 1px 1px #d5d5d5;
  -moz-box-shadow: 0px 1px 1px #d5d5d5;
  box-shadow: 0px 1px 1px #d5d5d5;
}
/* line 32, ../../sass/partials/_page.scss */
.card .card-image {
  position: relative;
  height: 167px;
  overflow: hidden;
}
/* line 37, ../../sass/partials/_page.scss */
.card .card-image:hover .image-hover {
  opacity: .95;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
/* line 43, ../../sass/partials/_page.scss */
.card .image-hover {
  position: absolute;
  top: 0;
  background: #ffffff;
  height: 100%;
  padding: 20px;
  opacity: 0;
  line-height: 24px;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}
/* line 52, ../../sass/partials/_page.scss */
.card .image-hover a {
  color: #000000;
  cursor: pointer;
}
/* line 57, ../../sass/partials/_page.scss */
.card .card-tags {
  position: relative;
  margin-bottom: 10px;
  margin-top: 20px;
}
/* line 61, ../../sass/partials/_page.scss */
.card .card-tags .tag {
  text-transform: uppercase;
  margin-bottom: 20px;
  float: left;
  margin-right: 20px;
}
/* line 66, ../../sass/partials/_page.scss */
.card .card-tags .tag a {
  cursor: pointer;
  color: #151c26;
  padding: 5px 7px;
  font-size: 12px;
  border: 1px solid #151c26;
  border-radius: 3px;
}
/* line 73, ../../sass/partials/_page.scss */
.card .card-tags .tag a:hover {
  color: #ffffff;
  background: #151c26;
  text-decoration: none;
}
/* line 81, ../../sass/partials/_page.scss */
.card .card-title {
  clear: both;
  position: relative;
  margin-bottom: 30px;
  height: 90px;
  overflow: hidden;
}
/* line 87, ../../sass/partials/_page.scss */
.card .card-title h2 {
  font-size: 22px;
  font-weight: lighter;
  line-height: 30px;
}
/* line 91, ../../sass/partials/_page.scss */
.card .card-title h2 a {
  color: #E73E2E;
}
/* line 96, ../../sass/partials/_page.scss */
.card .author-date {
  color: #999999;
  font-size: 12px;
}
/* line 99, ../../sass/partials/_page.scss */
.card .author-date .author {
  float: left;
  margin-right: 20px;
}
/* line 102, ../../sass/partials/_page.scss */
.card .author-date .author a {
  color: #151c26;
}
/* line 104, ../../sass/partials/_page.scss */
.card .author-date .author a:hover {
  color: #151c26;
}
/* line 109, ../../sass/partials/_page.scss */
.card .author-date .date {
  float: right;
}

/* line 114, ../../sass/partials/_page.scss */
.clearfix {
  clear: both;
}

/* line 118, ../../sass/partials/_page.scss */
.blog-categories {
  padding: 40px 0;
}
/* line 120, ../../sass/partials/_page.scss */
.blog-categories ul {
  margin: 0;
  padding: 0;
}
/* line 123, ../../sass/partials/_page.scss */
.blog-categories ul li {
  display: inline-block;
  width: 24%;
  margin: 0;
  padding: 20px;
  overflow: hidden;
}
/* line 129, ../../sass/partials/_page.scss */
.blog-categories ul li a {
  color: #999999;
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
}
/* line 134, ../../sass/partials/_page.scss */
.blog-categories ul li a .image-top {
  background: #151c26;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 138, ../../sass/partials/_page.scss */
.blog-categories ul li a .image-top img {
  width: 70%;
  transition: all .2s ease-in-out;
}
/* line 141, ../../sass/partials/_page.scss */
.blog-categories ul li a .image-top img:hover {
  transform: scale(1.2);
}
/* line 146, ../../sass/partials/_page.scss */
.blog-categories ul li a:hover {
  color: #151c26;
  text-decoration: none;
}
/* line 150, ../../sass/partials/_page.scss */
.blog-categories ul li a .text-category {
  height: 42px;
}

/* line 158, ../../sass/partials/_page.scss */
.blog-tags {
  text-align: center;
  padding: 40px 0;
}
/* line 162, ../../sass/partials/_page.scss */
.blog-tags ul li {
  display: inline-block;
  margin: 10px;
}
/* line 165, ../../sass/partials/_page.scss */
.blog-tags ul li a {
  display: block;
  background: #f5f5f5;
  border: 1px solid #d5d5d5;
  color: #E73E2E;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}
/* line 174, ../../sass/partials/_page.scss */
.blog-tags ul li a:hover {
  background: #E73E2E;
  color: #ffffff;
}
