/* base typography styles */

h1 {
	font-size: 48px;
	font-weight: normal;
}

h2 {
	font-size: 38px;
	font-weight: normal;
}

h3 {
	font-size: 32px;
	font-weight: normal;
}

p {
	font-size: 16px;
	line-height: 28px;
}